[submodule "Libs/PhpUserAgent"]
	path = Libs/PhpUserAgent
	url = https://github.com/donatj/PhpUserAgent
[submodule "Libs/Record"]
	path = Libs/Record
	url = https://github.com/outlawdesigns-io/Record
[submodule "Libs/MessageClient"]
	path = Libs/MessageClient
	url = https://github.com/outlawdesigns-io/MessageClient
