[submodule "PhpUserAgent"]
	path = PhpUserAgent
	url = https://github.com/donatj/PhpUserAgent
[submodule "Record"]
	path = Record
	url = https://github.com/outlawdesigns-io/Record
[submodule "SendMessage"]
	path = SendMessage
	url = https://github.com/outlawdesigns-io/SendMessage
