[submodule "PhpUserAgent"]
	path = Libs/PhpUserAgent
	url = https://github.com/donatj/PhpUserAgent
[submodule "Record"]
	path = Libs/Record
	url = https://github.com/outlawdesigns-io/Record
[submodule "MessageClient"]
	path = Libs/MessageClient
	url = https://github.com/outlawdesigns-io/MessageClient
