################################################################################################################################
# CHEAT SHEET
# MIN HOUR DOM MON DOW CMD
# Field    Description    Allowed Value
# MIN      Minute field    0 to 59
# HOUR     Hour field      0 to 23
# DOM      Day of Month    1-31
# MON      Month field     1-12
# DOW      Day Of Week     0-6
# CMD      Command         Any command to be executed.
################################################################################################################################
SHELL=/bin/bash
0 */3 * * * (time php /var/www/html/Libs/AccessLogParser/Jobs/StartLogMonitor.php) >> /tmp/log 2>&1
15 */4 * * * (time php /var/www/html/Libs/AccessLogParser/Jobs/StartAttackMonitor.php) >> /tmp/Attack 2>&1
20 */4 * * * (time php /var/www/html/Libs/AccessLogParser/Jobs/StartAttackMonitor.php) >> /tmp/Client 2>&1
